@import 'custom';

// components
@import './components/buttons';
@import './components/typography';

// import sections
@import './sections/navbar';
@import './sections/hero';
@import './sections/about';
@import './sections/skills';
@import './sections/project';
@import './sections/contact';
@import './sections/footer';

// fonts
@import url('http://fonts.cdnfonts.com/css/calibre');
@import url('http://fonts.cdnfonts.com/css/sf-mono');


@font-face {
    font-family: 'Calibre';
    src: url('./fonts/Calibre/Calibre-Regular.ttf') format('ttf'),
        url('./fonts/Calibre/Calibre-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SFMono';
    src: url('./fonts/SFMono/SFMono-Regular.ttf') format('ttf'),
        url('./fonts/SFMono/SFMono-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-family: $font-mono;
    background-color: $light;
}

html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: $gray;
}
  
html::-webkit-scrollbar-thumb {
    background: $black;
}