@import 'custom';

// components
@import './components/buttons';
@import './components/typography';

// import sections
@import './sections/navbar';
@import './sections/hero';
@import './sections/about';
@import './sections/skills';
@import './sections/project';
@import './sections/contact';
@import './sections/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-family: $font-mono;
    background-color: $light;
}

#scroll-top {
    position: fixed;
    top: -140%;
    right: 2rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
    transition: 1s linear;
    z-index: 1000;
  }
  #scroll-top.active {
    top: calc(100% - 12rem);
  }
