.btn-resume {
    border: 1px solid $black;
    transition: ease-out 0.3s;
    max-width: 150px;
    width: 100%;

    &:hover {
        color: $light;
        cursor: pointer;
        box-shadow: inset 150px 0 0 0 $red;
        border: 1px solid $red;
    }
}

// Contact button
.btn-outline-dark {
    transition: ease-out 0.3s;
    max-width: 150px;
    width: 100%;
    color: $black;
    border: 1px solid $black;
    background: transparent;

    &:hover {
        color: $light;
        cursor: pointer;
        box-shadow: inset 150px 0 0 0 $red;
        border: 1px solid $red;
    }
}


